
.top{
     display:flex;
    width:100%;
    height:5vw;
    background:lightblue;
}

.inout{
    width:50%;
     display:flex;
    justify-content: flex-end;
    align-items: center;
}
.adminodivas{
    width:50%;
    display:flex;
   justify-content: flex-start;
    align-items: center;
}

#admin{
 margin-left: 1vw;   
}
#login{
 margin-right: 1vw;   
}
#logout{
 margin-right: 1vw;   
}

#name{
 margin-right: 0.5vw;  
 margin-top: 0.75vw;  
}
#quantity{
    width:4vw;
}

